<layout name="Layout/main" />

<style>
.container{margin-top:100px;}
</style>
<div class="container">
	<div class="jumbotron">
	  <h1>Hello, {$title}</h1>
	  <p>...ERP系统</p>
	  <p><a class="btn btn-primary btn-lg" href="{:U('Admin/Index/index')}" role="button">管理员登陆</a></p>

	
		文档：<a target="_blank" href="http://v3.bootcss.com/components/#dropdowns">bootstrap文档</a><br>
		
		链接：<a href="{:U('Admin/Index/index')}">后台</a> | 
		<a href="{:U('Admin/Login/logout')}">logout</a> | 
		<a href="{:U('Admin/Login/sh')}">show session</a> | 
	</div>


</div>