<layout name="Layout/main" />

<!-- Custom styles for this template -->
    <link href="__Public__/css/signin.css" rel="stylesheet">


 <div class="container">

      <form class="form-signin"  action="__URL__/index" method='post'>
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">user name</label>
        <input name="user" type="text" id="inputEmail" class="form-control" placeholder="user name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="psw" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me" name="remember"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
    
    
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) 
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    -->
    <script src="__Public__/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__BS__/js/bootstrap.min.js"></script>