<layout name="Layout/right" />

<js href="/Public/Js/Order.js" />
<style>
	.form-group{margin-bottom:10px;}
	.form-group span.info{padding:0 20px;}
	.form-group span.info input{padding:3px;}
	.table th, .table td { 
		text-align: center;
		vertical-align: middle!important;
	}
	#mySelect{padding:3px;min-width:150px;}
	.center-block{display:table;}
	.center-block input{margin:20px;}
</style>
     


	<ol class="breadcrumb">
	  <li><a href="{:U('Admin/Index/welcome')}">后台</a></li>
	  <li><a href="{:U('Admin/Order/index')}">订单管理</a></li>
	  <li class="active">修改订单</li>
	</ol>
         
<ul id="myTab" class="nav nav-tabs">
	<li>
		<a href="{:U('Order/index')}" data-toggle="tab">订单列表</a>
	</li>
	<li>
		<a href="{:U('Order/add')}">添加订单</a>
	</li>
	<li class="active">
		<a>修改订单</a>
	</li>
</ul>

<br>    
<div class="alert alert-success" role="alert">
  <strong>注：</strong> 订单时间是指订购到货时间，一般填写小票时间。
</div>    

  
          <div class="table-responsive">
	<form method='post' action="__URL__/edit"  onsubmit="return checkFrom();" class="form" role="form">
			<div class="form-group">
				<span class=info>经销商：<select id="mySelect" name='supplier_id'>
					<volist name="supplier" id="vo" empty="暂时没有数据">
						<option value='{$vo.supplier_id}'<?php
						if($vo['supplier_id']==$data['supplier_id']) echo "selected";
						?>>{$vo.supplier_name}</option>
					</volist>
					<option value=-1>其他</option>
				</select></span>
				
				<span class=info>订单时间：<input type="text" name="order_time" 
					placeholder="20170101" value="{$data.order_time|date="Ymd",###}"></span>
				
				<span class=info>总金额：<span id='total'>{$data['order_quantity']*$data['order_price']}</span>元</span>
			</div>
			
			<div class="form-group">
				<table id=moreTr  class="table table-striped">
					<tr class=text-center>
						<th>#</th>
						<th>名字</th>
						<th>单位</th>
						<th>数量</th>
						<th>单价</th>
						<th>金额</th>
						<th>备注</th>
					</tr>
					
					<tr>
						<td><span>1</span></td>
						<td><input type="text" name="order_name" value="{$data.order_name}"></td>
						<td><input type="text" name="order_unit" value="{$data.order_unit}"></td>
						<td><input type="text" onchange="calc1(1)" name="order_quantity"  value="{$data.order_quantity}"></td>
						<td><input type="text" onchange="calc1(1)" name="order_price"  value="{$data.order_price}"></td>
						<td><input type="text" disabled=true value="{$data['order_quantity']*$data['order_price']}"></span></td>
						<td><input type="text" name="order_note"  value="{$data.order_note}"></td>
					</tr>
				</table>
						<input type="hidden" name="order_id" value="{$data.order_id}">
			</div>

			<div class="form-group">
				<div class="center-block">
					<input type='submit' value='添加' class="btn btn-lg btn-info">
					<input type='reset' value='取消' class="btn btn-lg btn-default">
				</div>
			</div>
		</form>

          </div>