<layout name="Layout/right" />

<style>
.table-responsive table{ margin-bottom:20px; }
	.table th, .table td { 
		text-align: center;
		vertical-align: middle!important;
	}
</style>

	<ol class="breadcrumb">
	  <li><a href="{:U('Admin/Index/welcome')}">后台</a></li>
	  <li><a href="{:U('Admin/Order/index')}">订单管理</a></li>
	  <li class="active">订单列表</li>
	</ol>


<ul id="myTab" class="nav nav-tabs">
	<li class="active">
		<a href="{:U('Order/index')}" data-toggle="tab">订单列表</a>
	</li>
	<li>
		<a href="{:U('Order/add')}" >添加订单</a>
	</li>
</ul>

          <!-- div class="row placeholders">
  
            <div class="col-xs-9 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div-->
          

   	<if condition="$current_supplier_name neq null"> 
          <h2 class="sub-header">
          		从 {$current_supplier_name} 订货明细
          		<a href="{:U('index')}" class="btn btn-default" title="查看全部订购星系">返回全部订单</a>
          </h2>
   	</if>
          	
<br>         	
<div class="alert alert-success" role="alert">
  <strong>注：</strong> 按照订单订购时间逆序排列。单击经销商筛选该经销商订货信息。


	<!-- 选择按钮组  button -->
	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    选择 <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a href="javascript:void(0);" id=chk_all>全选</a></li>
	    <li><a href="javascript:void(0);" id=chk_cancel>取消选择</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="javascript:void(0);" id=chk_invert>反选</a></li>
	  </ul>
	</div>
	
	
	
	<!-- 报销状态按钮Single button -->
	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    设置为 <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" id="setAs">
	    <li><a href="javascript:void(0);">订货</a></li>
	    <li><a href="javascript:void(0);">到货</a></li>
	    <li><a href="javascript:void(0);">对账</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="javascript:void(0);">报销</a></li>
	  </ul>
	</div>


	<!-- 选择按钮组  button 
	标签说明：
<span class="label label-info" title='0'>订货</span>
<span class="label label-danger" title='1'>到货</span>
<span class="label label-warning" title='2'>对账</span>
<span class="label label-success" title='3'>报销</span>
  
	<span class="label label-default">Default</span>
	<span class="label label-primary">Primary</span>
-->


</div>





          	
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
					<th>#</th>
					<th>经销商</th>
					<th>订货时间</th>
					<th>试剂、耗材名字</th>
					<th>单位</th>
					<th>数量</th>
					<th>单价</th>
					<th>金额</th>
					<th>备注</th>
					<th>操作</th>
                </tr>
              </thead>
              <tbody>
              
		<volist name="order" id="vo" empty="暂时没有数据">
			<tr>
				<td><input type="checkbox" name="select[]" value={$vo.order_id} title="选中该条目">
						{$vo.order_id}
					<span class="label 
						<if condition="$vo.order_status eq 0"> label-info
						<elseif condition="$vo.order_status eq 1" />label-danger
						<elseif condition="$vo.order_status eq 2" />label-warning
						<elseif condition="$vo.order_status eq 3" />label-success
						</if>
						">
						<?php echo $order_status_arr[$vo['order_status']]; ?>
					</span>
				</td>
				<td><?php if($vo['supplier_id']<0){
						echo "其他"; } else{
					echo '<a href="'; 
					echo U('Order/index',array('supplier_id'=>$vo['supplier_id']));
					echo '">'.$vo['supplier_name'].'</a>';
					 }?>
				 </td>
				<td>{$vo.order_time|intval|date='Y-m-d',###}</td>
				<td style="text-align:left; padding-left:5px;">{$vo.order_name}</td>
				<td>{$vo.order_unit}</td>
				<td>{$vo.order_quantity}</td>
				<td>{$vo.order_price}</td>
				<td>{$vo['order_quantity']*$vo['order_price']}</td>
				<td>{$vo.order_note}<span title="{$vo.add_time|intval|date='Y-m-d H:i:s',###}">*</span></td>
				<td><a href="{:U('Order/edit',array('id'=>$vo['order_id']))}">修改</a> | 
					<a href="javascript:order_del({$vo['order_id']})">删除</a></td>
			</tr>
         </volist>
               
               
              </tbody>
            </table>
          </div>



    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__JS__/jquery.min.js"></script>
    <script src="__BS__/js/bootstrap.min.js"></script>
    
    
<!-- toast -->
<link href="__CSS__/toastr.min.css" rel="stylesheet">
<script src="__JS__/toastr.min.js"></script>

<script>
toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": true,
  //"progressBar": true,
  "positionClass": "toast-top-center",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "1000",
  "extendedTimeOut": "800",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
//toastr.success('Have fun storming the castle!', 'Miracle Max Says')
//toastr["success"](" ", "提示：删除成功")
</script>



<script src="__JS__/bootbox.js"></script>
<script>
function order_del(id){
	var url="{:U('Order/del')}";
	bootbox.confirm({
	    title: "删除确认",
	    message: "确定要删除id="+id+"的条目吗? 该操作不可恢复.",
	    buttons: {
	        cancel: {
	            label: '<i class="fa fa-times"></i> 取消'
	        },
	        confirm: {
	            label: '<i class="fa fa-check"></i> 确认'
	        }
	    },
	    callback: function (result) {
	        //console.log('This was logged in the callback: ' + result);
	        if(result){
				//ajax删除
				$.post(url, { action:"post",id:id }, 
				function(json){
					//console.log(json)
					if(json[0]==1){
						toastr["success"]("", "提示：删除成功");
						$("input[value="+id+"]~span").parent().parent().remove();
						//删除该行
						/*setTimeout(function(){
							document.location.href=document.location.href;
						},800);*/
					}else if(json[0]==0){
						toastr['error']("",json[1]);
					}
				});
	        }
	    }
	});
}
</script>



<script type="text/javascript">
//顶部几个按钮组
$(function() {
	//全选
	$("#chk_all").click(function(){
	     $("input[name='select[]']:checkbox").prop("checked",true);
	});
	//取消选择
	$("#chk_cancel").click(function(){
	     $("input[name='select[]']:checkbox").prop("checked",false);
	});
	
	//反选
	$("#chk_invert").click(function(){
        $("input[name='select[]']:checkbox").each(function(i,o){
            $(o).prop("checked",!$(o).prop("checked"));
        });
    });
	
	
	//对被选项更换status
	$("#setAs a").each(function(index,obj){
		$(obj).click(function(e){
			//1.获取目标status
			var t_status=index;
			//2.获取选择了哪些条目？
			var list=[];
			$("input[name='select[]']:checkbox").each(function(i,o){
	            if($(o).prop("checked")){
	            	list.push(o.value);
	            }
	        });
			//如果没有选择条目，则弹出提示框
			if(list.length==0){
				toastr.warning("请选择需要操作的条目");
				return;
			}
			
			//3.发送ajax请求，修改数据
	        //console.log(t_status,list);
			var url="{:U('Order/status')}";
			$.post(url, { action:"post",status:t_status,list:list}, 
			function(json){
				var text=['订货','到货','对账','报销'];
				var classes=[
				             'label label-info',
				             'label label-danger',
				             'label label-warning',
				             'label label-success',
				      ];
				
				//console.log(json)
				if(json[0]==1){
					toastr["success"]("", json[1]);
					//修改对应的标签内容和样式
					for(var i=0;i<list.length;i++){
						$item=$("input[value="+list[i]+"]~span");//获取对应id的checkbox下一个span元素
						$item.text(text[t_status]);//修改文字
						$item.removeAttr('class');
						$item.addClass(classes[t_status]);//修改class
					}
				}else if(json[0]==0){
					toastr['error']("",json[1]);
				}
			});
		});
	});
	
	
	
	
	
});
</script>
