<layout name="Layout/right" />

<style>
.table-responsive table{ margin-bottom:20px; }
	.table th, .table td { 
		text-align: center;
		vertical-align: middle!important;
	}
</style>

	<ol class="breadcrumb">
	  <li><a href="{:U('Admin/Index/welcome')}">后台</a></li>
	  <li><a href="{:U('Admin/Order/index')}">订单管理</a></li>
	  <li class="active">订单统计</li>
	</ol>


<ul id="myTab" class="nav nav-tabs">
	<li>
		<a href="{:U('Order/index')}">订单列表</a>
	</li>
	<li>
		<a href="{:U('Order/add')}" >添加订单</a>
	</li>
	<li class="active">
		<a>订单统计</a>
	</li>
</ul>
          	
<br>   	
<div class="alert alert-success" role="alert">
  <strong>注：</strong> 各经销商供货金额汇总表，单位：人民币元。
</div>





          	
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
					<th>公司名</th>
					<volist name="status_arr" id="status" empty="暂时没有数据">
						<th>{$status[1]}</th>
					</volist>
                </tr>
              </thead>
              <tbody>
              
		<volist name="supplier_arr" id="supplier" empty="暂时没有数据">
			<tr>
					<td>{$supplier.supplier_name}</td>
				<volist name="status_arr" id="status" empty="暂时没有数据">
					<td><?php
						$sums = getSumsBy($supplier['supplier_name'],$status[0],$data);
						echo $sums;
					?></td>
				</volist>
				
			</tr>
         </volist>
               
               
              </tbody>
            </table>
          </div>



    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__JS__/jquery.min.js"></script>
    <script src="__BS__/js/bootstrap.min.js"></script>
    
<script>
//function n(s){console.log(s)}

$(function(){
	var xlen=$("table").find('tr').eq(1).find('td').length-1;
	var ylen=len=$("table").find('tr').length-2;
	
	$("table").find('tr').each(function(i, el_tr) {
	    //行合计
	    if(i != 0){
	      var sum = 0;
	      $(el_tr).find('td').each(function(index, el_td) {
	        if(index > 0 && index < xlen){
	          var val = $(el_td).text();
	          sum += parseFloat(val);
	        }else if(index == xlen){
	          $(el_td).html("<b>"+sum+"</b>");
	        }
	      });
	    }
	  });
	    //列合计
	    for(var i=2;i<ylen;i++){
	    	var tds=$("table").find('tr').find('td:nth-child('+i+')');
		    var sum=0;
	    	$(tds).each(function(index,el_td){
	    		if(index>=0 && index<ylen){
	    			var val = $(el_td).text();
	    			sum += parseFloat(val);
	    		}else if(index == ylen){
	  	          $(el_td).html("<b>"+sum+"</b>");
		        }
	    	})
	    }
});
</script>
